<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mingstagram</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<main id="login">
    <div class="login__column">
        <img src="/images/phoneImage.png" />
    </div>
    <div class="login__column">
        <div class="login__box">
            <img src="/images/loginLogo.png" />
            <form th:action="@{/auth/joinProc}" th:object="${signUp}" method="post" class="login__form">
                <input type="text" name="username" placeholder="Username" th:field="*{username}" required>
                <input type="password" name="password" placeholder="Password" th:field="*{password}" required>
                <input type="text" name="name" placeholder="Name" th:field="*{name}" required>
                <input type="text" name="website" placeholder="website" th:field="*{website}" required>
                <input type="text" name="bio" placeholder="bio" th:field="*{bio}" required>
                <input type="email" name="email" placeholder="Email" th:field="*{email}" required>
                <input type="email" name="phone" placeholder="phone" th:field="*{phone}" required>
                <input type="email" name="gender" placeholder="gender" th:field="*{gender}" required>
                <input type="email" name="profileImage" placeholder="profileImage" th:field="*{profileImage}" required>
                <input type="submit" value="Sign up">
            </form>
        </div>
        <div class="login__box">
            <span class="login__text">
              Do you have an account? <br />
            </span>
            <a class="login__blue-link" href="/auth/login">Sign in</a>
        </div>
        <div class="login__t-box">
            <span class="login__text">
              Get the app.
            </span>
            <div class="login__appstores">
                <img src="/images/ios.png" class="login__appstore" />
                <img src="/images/android.png" class="login__appstore" />
            </div>
        </div>
    </div>
</main>

<div th:replace="./include/footer.html :: fragment-footer"></div>

</body>
</html>