<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Instagram</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          rel="stylesheet">
    <link href="/images/favicon.ico" rel="shortcut icon">
    <link href="/css/styles.css" rel="stylesheet">
</head>
<body>
<div th:replace="/include/nav.html :: fragment-nav"></div>
<main id="feed">
    <div class="photo u-default-box">
        <header class="photo__header">
            <img src="/images/avatar.jpg"/> <span class="photo__username">serranoarevalo</span>
        </header>
        <img src="/images/feedPhoto.jpg"/>
        <div class="photo__info">
            <div class="photo__actions">
					<span class="photo__action"> <i class="fa fa-heart-o heart"></i>
					</span> <span class="photo__action"> <i class="fa fa-comment-o"></i>
					</span>
            </div>
            <span class="photo__likes">5,103 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment"><span class="photo__comment-author">serranoarevalo</span> i
                    love this!
                </li>
                <li class="photo__comment"><span class="photo__comment-author">serranoarevalo</span> i
                    don't love this!
                </li>
            </ul>
            <span class="photo__date">1 hour ago</span>
            <div class="photo__add-comment-container">
                <textarea placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
    <div class="photo u-default-box">
        <header class="photo__header">
            <img src="/images/avatar.jpg"/> <span class="photo__username">serranoarevalo</span>
        </header>
        <img src="/images/feedPhoto.jpg"/>
        <div class="photo__info">
            <div class="photo__actions">
					<span class="photo__action"> <i class="fa fa-heart-o heart"></i>
					</span> <span class="photo__action"> <i class="fa fa-comment-o"></i>
					</span>
            </div>
            <span class="photo__likes">5,103 likes</span>
            <ul class="photo__comments">
                <li class="photo__comment"><span class="photo__comment-author">serranoarevalo</span> i
                    love this!
                </li>
                <li class="photo__comment"><span class="photo__comment-author">serranoarevalo</span> i
                    don't love this!
                </li>
            </ul>
            <span class="photo__date">1 hour ago</span>
            <div class="photo__add-comment-container">
                <textarea placeholder="Add a comment..."></textarea>
                <i class="fa fa-ellipsis-h"></i>
            </div>
        </div>
    </div>
</main>
<div th:replace="/include/footer.html :: fragment-footer"></div>
<script src="/js/feed.js"></script>
<script src="/js/like.js"></script>
</body>
</html>
